  <div *ngIf="hidden" id="about">
    <h3 class="w3-margin w3-padding-24 w3-text-light-grey">Notes <i class="fa fa-plus-square-o" (click)="toCreate()"></i></h3>
    <hr style="width:200px" class="w3-opacity">
    <div class="w3-row">
    	<div class="w3-twothird w3-text-grey  w3-container">
    		<p>This page contains a list of notes that are persisted in your local instance of mongoDB by the spring 
    		backend that goes along with this angular front-end.</p>
    		<p>If you click on one of the notes you will be navigated to a new component view which allows the editing of the note. It also shows the message associated with the note's title</p>
    		<p>If you click the plus sign next to the note header above you will be navigated to another component view where you can create a new note that will be reflected on this list.</p>
    		<p>Hitting the delete (trashcan) icon will send a delete request to the spring backend that will remove the note from the database</p>
    	</div>
    	<div class="w3-container w3-third w3-text-grey">
			<div class="w3-text-grey" id="noteContainer">
				<div *ngIf="deleted">
    				<span>Note deletion is complete.</span>
    			</div>	
				<ul class="notes">
					<li class="w3-margin-top" *ngFor="let note of response">
						<span  (click)="onSelect(note)" >{{note.title}}</span> <i class="fa fa-trash-o" (click)="removeNote(note)"></i>
					</li>
				</ul>
			</div>
		</div>
    </div>
  </div>

  
<app-note-details [note]="selectedNote" [hidden]="hidden" (hiddenChange)="updateHidden($event)"></app-note-details>